.card {
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
}
.card:hover {
    cursor: pointer;
}
.card.selected {
    background: #fff9bf;
    transform: translateY(-8px);
}

.card .order-bubble {
    position: absolute;
    bottom: -10px;
    right: -5px;
    padding: 10px 15px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    color: white;
    border:1px solid black
}

/*master cards stylesheet*/
.card-stacks {
    display: inline-block;
}

.player-stack {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 200px;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
}
.player-stack:hover {
    cursor: pointer;
}
.player-card {
    position: absolute;
    width: 150px;
    height: 200px;
    margin: 0.5em 1em;
    padding: 1.5em 1em;
}
.player-card:hover {
    z-index:5;
    transform: translateY(-8px);
}
.player-card.selected {
    background: #fff9bf;
    transform: translateY(-8px);
}

.player-card .order-bubble {
    visibility: hidden;
}

.player-card:hover .order-bubble {
    visibility: visible;
    position: absolute;
    bottom: -10px;
    left: -5px;
    padding: 10px 15px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    color: white;
    border:1px solid black
}

.choose-winner {
    margin-left: 40px;
}
/* End of master cards stylesheet */
.player {
    opacity: 0.2;
}

.visible {
    opacity: 1.0;
}

.disabled {
    opacity: 0.2;
}

.table {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
}

.hand {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#sidebar {
    font-size: 1.1em;
    margin: 1em;
}

#player-list .player-info p {
    display: inline-block;
    margin: 0;
}
#player-list .player-info p:nth-child(2) {
    float: right;
}

#chat-content {
    overflow-y: scroll;
    height: 300px;
}
#chat-content p {
    margin: 0;
}
#chat-content .user-bot strong{
    color: #2e66ff;
}
#chat-content .user-bot {
    font-style: italic;
    color: #444;
}
#chat-input-area {
    display: flex; 
    padding: 8px;
}
#chat-input {
    width: 100%;
}

/* FONTELLO FIX */
i[class^="icon-"]:before, i[class*=" icon-"]:before {
    margin: 0;
}

i {
    display: inline-block;
    line-height: 1;
}

/*Player select animation*/
@keyframes changesize {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.select-animation {
    animation-duration: 1s;
    animation-name: changesize;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #c8eec6;
}