<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blankiety Galantów</title>

    <link rel="stylesheet" href="../vendor/fontello/css/fontello.css">
    <link rel="stylesheet" href="../vendor/hover/hover-min.css">
    <link rel="stylesheet" href="../vendor/w3css/w3.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="../vendor/vue/vue-dev.js"></script>
    <script src="js/components.js"></script>
</head>

<body>
    <div id="game">
        <div id="game-container" class="w3-main w3-twothird">

            <!-- Modal -->
            <div class="w3-modal" :class="{'w3-show': showSettings}">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                        <span @click="showSettings=false" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                        <h3>Ustawienia</h3>
                    </div>
                    <hr>
                    <div class="w3-container w3-margin">
                        <p>
                            <input name="is-open" class="w3-check" type="checkbox" checked="checked">
                            <label>Zezwól na dołączenie nowych graczy</label>
                        </p>
                        <h4>Tryb gry</h4>
                        <label>
                            <input class="w3-radio" type="radio" name="game-type" value="default" checked="">
                            Standardowy
                        </label><br>
                        <label>
                            <input class="w3-radio" type="radio" name="game-type" value="nomercy">
                            Bez litości
                        </label><br>
                        <label>
                            <input class="w3-radio" type="radio" name="game-type" value="child">
                            Dziecięcy
                        </label><br>
                        <label>
                            <input class="w3-radio" type="radio" name="game-type" value="pwr">
                            Prezentacja projektu
                        </label><br>
                        <h4>Limit czasu</h4>
                        <input type="number" name="time-limit" id="time-limit" value="120"> sek.
                    </div>


                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button @click="showSettings=false" type="button" class="w3-button w3-red">Cancel</button>
                        <button @click="showSettings=false" type="button" class="w3-button w3-green w3-right">Zapisz</button>
                    </div>

                </div>
            </div>
            <!-- Modal -->

            <div class="w3-panel w3-pale-yellow w3-leftbar w3-border-yellow w3-center">
                <p>{{topInfo}}</p>
            </div>

            <div class="table">
                <div id="black-card" class="card w3-card w3-round-large w3-black w3-hover-shadow">
                    <p>Kocham język Python z powodu ______</p>
                </div>
                <template v-if="playedCards.length===0">
                    <card-player v-for="player in players" v-bind:key="player.id" v-bind:player="player" v-bind:me="player.me"

                    v-bind:class="{visible: (player.id !== me.id)||(selectedCards.length===numberOfCardsToSelect),
                                'select-animation': (player.id === me.id)
                                                    && (selectedCards.length===numberOfCardsToSelect) 
                                                    && (player.state === 'choosing'),
                                'w3-white': (player.id !== me.id) }"
                    v-on:click.native="confirmSelectedCards(player)">
                    </card-player>
                </template>
                <template v-if="playedCards.length!==0">
                    <div class="card-stacks" v-for="cards in playedCards" 
                    v-on:click="selectStack(cards.playerCards)">
                        <div class="player-stack" 
                            v-bind:style="{ 'margin-left': cards.playerCards.length*30 + 'px' }">

                            <div v-for="card in cards.playerCards.slice().reverse()" v-bind:key="card.id">
                                <div class="player-card w3-card w3-round-large w3-hover-shadow w3-center" 
                                    v-bind:style="{ left: '-' + (cards.playerCards.indexOf(card))*30 + 'px',
                                                top: '-' + (cards.playerCards.indexOf(card))*20 + 'px' }"
                                    v-bind:class="{ 'selected': winningCards.indexOf(card)>=0,
                                                    'w3-white': 0>winningCards.indexOf(card) }"
                                    >
                                    <div v-if="revealedCards.indexOf(card)>=0">
                                        {{card.text}}
                                    </div>
                                    
                                    <div class="order-bubble w3-round-xxlarge">
                                        {{cards.playerCards.indexOf(card)+1}}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div v-if="me.state=='master'" class="played-card choose-winner w3-card w3-round-large w3-hover-shadow w3-center">
                        <div v-bind:class="{ disabled: revealedCards.length !== (players.length-1)*numberOfCardsToSelect||pointsGranted,
                                            'select-animation': !(revealedCards.length !== (players.length-1)*numberOfCardsToSelect)&&!pointsGranted}"
                             v-on:click="chooseWinner">
                            <p>Przyznaj punkt</p>
                        <p><i class="icon-trophy w3-xxxlarge"></i></p>
                        </div>
                    </div>
                </template>
            </div>
            <hr>
            <div class="hand" v-bind:class="{disabled: (me.state==='master')}">
                <div class="card w3-card w3-round-large w3-hover-shadow w3-center hvr-float" 
                    v-for="card in myCards" 
                    v-bind:class="{selected: selectedCards.includes(card)}" 
                    v-on:click="selectCard(card)">
                    <p>{{card.text}}</p>
                    <div class="order-bubble w3-round-xxlarge"
                        v-if="selectedCards.indexOf(card)>=0">
                        {{selectedCards.indexOf(card)+1}}
                    </div>

                </div>
            </div>
        </div>

        <div class="w3-third">
            <div id="sidebar" class="w3-card w3-bar-block">
                <div class="w3-container w3-bar-item" style="display: flex;">
                    <h2 style="width: 100%;">Stół: {{ tableId }}</h2>
                    <button class="w3-button" style="width: 100px;" @click="showSettings=true"><i class="icon-cog w3-xxxlarge"></i></button>
                </div>
                <button class="w3-button w3-bar-item w3-light-grey" @click="showPlayers = !showPlayers">Gracze <i class="icon-down-dir"></i></button>
                <div id="player-list" v-show="showPlayers">

                    <div class="player-info w3-padding" v-for="player in players">
                        <p><strong>{{player.name}} <i class="icon-star" v-if="player.admin"></i></strong>
                            <span v-if="player.id === me.id">(ty)</span></p>
                        <p>punkty: {{player.score}}</p>
                    </div>

                </div>
                <button class="w3-button w3-bar-item w3-light-grey" @click="showChat = !showChat">Czat <i class="icon-down-dir"></i></button>
                <div id="chat-content" class="w3-padding" v-show="showChat">

                    <p v-for="(msg, idx) in chat" :class="{'user-bot': msg.log}">
                        <strong>{{msg.name}}: </strong> {{msg.message}}
                    </p>

                </div>
                <div id="chat-input-area" class="w3-border-top" v-show="showChat">
                    <input type="text" name="message" id="chat-input" autocomplete="off" v-model="newMessage" @keyup.enter="sendMessage">
                    <button @click="sendMessage"><i class="icon-send"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- game -->

    <script src="js/websocket_connect.js"></script>
    <script src="js/main.js"></script>
</body>

</html>