<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blankiety Galantów</title>
    <link rel="shortcut icon" href="../assets/favicon.ico"/>
    <link rel="stylesheet" href="../vendor/fontello/css/fontello.css">
    <link rel="stylesheet" href="../vendor/hover/hover-min.css">
    <link rel="stylesheet" href="../vendor/w3css/w3.css">
    <link rel="stylesheet" href="css/main.css?v=1.2">
    <link rel="stylesheet" href="css/loader.css?v=1.1">


    <script src="../vendor/vue/vue-dev.js"></script>
    <script src="js/components.js"></script>
</head>

<body>
    <div id="game">
        <div id="loader-container" class="w3-twothird" v-bind:class="{hidden: gameLoaded}">
            <div class="loader">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- Error Modal -->
        <div class="w3-modal on-top-modal" :class="{'w3-show': errorOccured}">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                <div class="w3-center"><br>
                    <span v-on:click="exit()" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                    <h3>Błąd</h3>
                    <hr>
                    
                    <p><h4 >{{errorMessage}}</h4></p>
                    <img class="milord-graphic"  src="../assets/error_graphic.png">

                </div>
                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <button v-on:click="exit()" type="button" class="w3-button w3-red">Wyjdź</button>
                </div>
            </div>
        </div>

        <!-- Password Modal -->
        <div class="w3-modal on-top-modal" :class="{'w3-show': passwordRequired}">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                <div class="w3-center"><br>
                    <span v-on:click="exit()" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                    <p >
                        <img class="milord-graphic"  src="../assets/password_graphic.png">
                    </p>
                    <p>
                        Hasło: <input id="password" type="text" v-model="inputPassword">
                    </p>
                    
                    
                </div>
                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <button v-on:click="exit()" type="button" class="w3-button w3-red">Wyjdź</button>
                    <button @click="submitPassword" type="button" class="w3-button w3-green w3-right">Potwierdź</button>
                </div>
            </div>
        </div>
        <!-- Game App Content -->
        <template v-if="gameLoaded">
            <!-- Modal -->
            <!-- Settings Modal -->
            <div class="w3-modal on-top-modal" :class="{'w3-show': showSettings}">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                        <span @click="cancelSettingsChanges" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Zamknij">×</span>
                        <h3>Ustawienia</h3>
                    </div>
                    <hr>
                    <div class="w3-container w3-margin">
                        <div v-if="!me.admin" style="text-align: center;">
                            <p style="color: red; font-style: italic; margin-top: 0">
                                Tylko właściciel pokoju może zmieniać ustawienia.
                            </p>
                        </div>
                        <p>
                            <label>Nazwa pokoju
                                <input class="w3-input" type="text" autocomplete="off" required
                                        v-model="newSettings.roomName"
                                        :disabled="!me.admin">
                            </label>
                        </p>
                        <p>
                            <input id="is-open" name="is-open" class="w3-check" type="checkbox"
                                   :disabled="!me.admin"
                                   v-model="newSettings.open">
                            <label for="is-open">Zezwól na dołączenie nowych graczy</label>
                        </p>
                        <p  v-if="me.admin">
                            <input 
                                id="is-password-protected" 
                                name="is-password-protected" 
                                class="w3-check" 
                                type="checkbox"
                                @change="changePasswordRequired($event)">
                            <label for="is-password-protected">Zabezpieczenie hasłem</label>
                            <p v-if="settingsPasswordRequired" >
                                Hasło: <input type="text" minlength="passwordLength" v-model="newSettings.password">
                            </p>
                            <div v-if="newSettings.password.length < passwordLength && settingsPasswordRequired" style="text-align: center;">
                                <p style="color: red; font-style: italic; margin-top: 0">
                                    Hasło musi być dłuższe niż {{passwordLength}} znaki.
                                </p>
                            </div>
                            
                        </p>
                        <h4>Tryb gry</h4>
                        <label>
                            <input class="w3-radio" v-model="newSettings.gameType" type="radio" name="game-type" value="default" checked="" :disabled="!me.admin">
                            Standardowy
                        </label><br>
                        <label>
                            <input class="w3-radio" v-model="newSettings.gameType" type="radio" name="game-type" value="customcards" :disabled="!me.admin">
                            Mydełko
                            <span class="tooltip">(?)
                                <span class="tooltiptext">
                                    Gracz może ustaloną liczbę razy zmienić tekst białej karty na dowolny wpisany przez siebie.
                                </span>
                            </span>
                        </label><br>
                        <h4>Limit czasu</h4>
                        <input type="number" v-model.number="newSettings.time" name="time-limit" id="time-limit" value="60" :disabled="!me.admin" min="1"> sek.
                        <div v-if="newSettings.gameType == 'customcards'"><h4>Liczba własnych kart</h4>
                            <input type="number" v-model.number="newSettings.customCards" name="custom-cards" id="custom-cards" value="5" :disabled="!me.admin">
                        </div>
                        <div v-if="newSettings.time < 1" style="text-align: center;">
                            <p style="color: red; font-style: italic; margin-top: 0">
                                Czas rundy musi być większy niż 1 sekunda.
                            </p>
</div>
                    </div>
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button @click="cancelSettingsChanges" type="button" class="w3-button w3-red" >Anuluj</button>
                        <button @click="submitSettings" type="button" class="w3-button w3-green w3-right"
                                :disabled="!me.admin ||
                                (newSettings.password.length < passwordLength && settingsPasswordRequired)">Zapisz</button>
                    </div>
                </div>
            </div>
            <!-- Modal -->

            <loader v-if="!gameReady"></loader>
            <div v-else id="game-container" class="w3-main w3-twothird">
                <div class="w3-panel w3-pale-yellow w3-leftbar w3-border-yellow w3-center">
                    <p>{{topInfo}}</p>
                </div>
                <!-- Timer -->
                <div class="timer w3-panel w3-center">
                    <div>
                        <p>
                            <h2 
                            class="w3-border w3-round-large" 
                            :key="formatedTimer" 
                            :class="{'final-countdown': finalCountdown }">
                                {{formatedTimer}}
                            </h2>
                        </p>
                    </div>
                </div>
                <div class="table">
                    <transition name="bounce">
                        <div id="black-card" :key="blackCard.text" class="card w3-card w3-round-large w3-black w3-hover-shadow">
                            <p>{{blackCard.text}}</p>
                        </div>
                    </transition>
                    <!-- Player cards -->
                    <transition-group name="bounce">
                        <template v-if="selectingStage">
                            <template v-for="player in players">
                                <card-player-me v-if="player.me"
                                                v-bind:key="player.id"
                                                v-bind:player="player"
                                                v-bind:ready-to-submit="readyToSubmit"
                                                v-on:click.native="confirmSelectedCards()">
                                </card-player-me>
                                <card-player v-else v-bind:key="player.id"
                                            v-bind:player="player">
                                </card-player>
                            </template>
                        </template>

                    <!-- Card stacks -->
                        <template v-else-if="readingStage">
                            <card-stack v-for="(stack, id) in playedCards"
                                        v-bind:key="id"
                                        v-bind:stack="stack"
                                        v-on:click.native="onStackClick(stack)"
                                        v-bind:class="{glow: selectingWinnerMode}">
                            </card-stack>
                        </template>
                    </transition-group>
                </div>

                <!-- Choose winner button -->
                <div class="choose-winner" v-if="allStacksRevealed && me.state === 'master'">
                    <button class="w3-button w3-green w3-card w3-round-medium "
                            v-bind:class="{'w3-gray': selectingWinnerMode}"
                            v-bind:class="{'select-animation': !selectingWinnerMode}"
                            v-on:click="selectingWinnerMode = !selectingWinnerMode">
                        <i class="icon-trophy w3-xlarge"></i> <br>
                        <strong>Wybierz zwycięzcę</strong>
                    </button>
                </div>
                
                <!-- Show who is Card Master -->
                <div class="info-box w3-leftbar" 
                    :class="{
                        'w3-border-yellow': me.state != 'master',
                        'w3-border-green': me.state == 'master',
                        'w3-pale-yellow': me.state != 'master',
                        'w3-pale-green': me.state == 'master',
                    }">
                    <div v-if="me.state != 'master'"> <i class="icon-eye"></i> Mistrz Kart: <strong>{{master.name}}</strong></div>
                    <div v-if="me.state == 'master'"> <i class="icon-eye"></i> <strong>Ty</strong> jesteś Mistrzem Kart</div>
                </div>
                <!-- Info about custom cards -->
                <div v-if="customTextIsSet" class="info-box w3-leftbar w3-border-blue w3-pale-blue">
                    <div>Wybierz kartę, której tekst ma być zmieniony.</div>
                </div>
                <hr>

                <div class="hand" v-bind:class="{faded: (me.state==='master')}">
                    <div class="card w3-card w3-round-large w3-hover-shadow w3-center hvr-float"
                        v-for="card in myCards"
                        v-bind:class="{selected: selectedCards.includes(card),
                                        glow: customTextIsSet}"
                        v-on:click="selectCard(card)">
                        <p>{{card.text}}</p>
                        <div class="order-bubble w3-round-xxlarge"
                            v-if="selectedCards.indexOf(card)>=0">
                            {{selectedCards.indexOf(card)+1}}
                        </div>

                    </div>
                    <div v-if="settings.customCards > customCardsUsed && settings.gameType == 'customcards'"
                         class="card w3-card w3-container w3-round-large w3-hover-shadow w3-center hvr-float"
                         onclick="document.getElementById('custom-card-text').innerHTML=''; document.getElementById('custom-card-text').focus();"
                         v-on:click="customText = ''">
                        <p id="custom-card-text" contenteditable="true" style="cursor: text"
                           @input="customText = $event.target.innerHTML;">Własny tekst</p>
                        <p class="w3-small w3-text-gray">Wpisz swoją treść</p>
                        <div class="order-bubble w3-round-xxlarge">
                            {{settings.customCards - customCardsUsed}}
                        </div>

                    </div>
                </div>
            </div>

            <div class="w3-third">
                <div id="sidebar" class="w3-card w3-bar-block">
                    <div class="w3-container w3-bar-item" style="display: flex;">
                        <h2 style="width: 100%;">Pokój: {{ settings.roomName }}</h2>
                        <button class="w3-button" style="width: 100px;" @click="showSettings=true"><i class="icon-cog w3-xxxlarge"></i></button>
                    </div>
                    <button class="w3-button w3-bar-item w3-light-grey" @click="showPlayers = !showPlayers">Gracze <i class="icon-down-dir"></i></button>
                    <div id="player-list" v-show="showPlayers">

                        <div class="player-info w3-padding" v-for="player in players">
                            <p>
                                <strong>
                                    <i class="icon-star" v-if="player.admin"></i>
                                    {{player.name}} 
                                    <i class="icon-eye" v-if="player.state == 'master'"></i>
                                </strong>
                                <span v-if="player.id === me.id">(ty)</span>
                            </p>
                            <p>punkty: {{player.score}}</p>
                        </div>

                    </div>
                    <button class="w3-button w3-bar-item w3-light-grey" @click="showChat = !showChat">Czat <i class="icon-down-dir"></i></button>
                    <div id="chat-content" class="w3-padding" v-show="showChat">

                        <p v-for="(msg, idx) in chat" :class="{'user-bot': msg.log}">
                            <strong>{{msg.name}}: </strong> {{msg.message}}
                        </p>

                    </div>
                    <div id="chat-input-area" class="w3-border-top" v-show="showChat">
                        <input type="text" name="message" id="chat-input" autocomplete="off" v-model="newMessage" @keyup.enter="sendMessage">
                        <button @click="sendMessage"><i class="icon-send"></i></button>
                    </div>
                </div>
            </div>
        </template>
    </div>
    <!-- game -->

    <script src="js/websocket_connect.js?v=1.0"></script>
    <script src="js/main.js?v=1.0"></script>
</body>

</html>