main {
    padding: 10px 20px;
}

header {
    text-align: center;
}
header h1 {
    font-size: 4em;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 30px;
}

i {
    line-height: 1;
}

a {
    text-decoration: none;
}

/* FONTELLO FIX */
i[class^="icon-"]:before, i[class*=" icon-"]:before {
    margin: 0;
}

/* ROOMS */

.rooms {
    flex-grow: 1;
}
.rooms li {
    padding: 0;
}

.room-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 8px 16px;
}
.pointer:hover {
    cursor: pointer;
}

.not-allowed:hover {
    cursor: not-allowed;
}

.room-item.hvr-radial-out:before {
    background: #3f75d9;
}

.room-icon {
    font-size: 50px;
    padding: 8px 8px;
}
.room-info {
    flex-grow: 1;
    padding: 8px 16px;
}   
.room-status {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-right: 5px;
}
.room-status .open {
    color: #4CAF50;
}
.room-status .closed {
    color: #eb4034;
}
.room-status .full {
    color: #bababa;
}

.join-btn {
    font-size: 32px;
    color: #4CAF50;
}

/* SIDEBAR */

aside h2 {
    margin-bottom: 0;
}

/* SETTINGS */

.settings {
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.settings label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;

}
.settings input {
    width: 100%;
    padding: 2px;
}

/* ABOUT */
.about {
    margin-bottom: 10px;
}
.about p {
    text-align: justify;
}

.about p a{
    text-decoration:underline;
    color: #4CAF50;
}

/* Screen larger than 600px */
@media (min-width:600px) {
    main {
        padding: 10px 40px;
    }
    #container {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    aside {
        width: 300px;
        margin-left: 20px;
    }
}