<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blankiety Galantów</title>
    <link rel="shortcut icon" href="assets/favicon.ico"/>
    <link rel="stylesheet" href="vendor/w3css/w3.css">
    <link rel="stylesheet" href="vendor/hover/hover-min.css">
    <link rel="stylesheet" href="vendor/fontello/css/fontello.css">
    <link rel="stylesheet" href="css/main.css?v=1.0">

    <script src="vendor/vue/vue-dev.js"></script>
    <script type="module" src="js/components.js?v=1.0"></script>
</head>

<body>

    <main class="w3-content">
        <header>
            <h1>Blankiety <img class="brand-logo" src="assets/logo.png"> Galantów</h1>
        </header>

        <div id="container">
            <!-- Modal -->
            <div class="w3-modal" :class="{'w3-show': showCreateRoomModal}">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                    <div class="w3-center"><br>
                        <span @click="showCreateRoomModal=false" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                        <h3>Tworzenie pokoju</h3>
                    </div>
                    <hr>
                    <div class="w3-container w3-margin">
                        <h4>Nazwa pokoju</h4>
                        <input type="text" name="room-name" id="room-name" value="Nowy pokój">
                        <h4>Liczba miejsc</h4>
                        <input type="number" name="room-seats" id="room-seats" value="6" min="2">
                    </div>
                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                        <button @click="showCreateRoomModal=false" type="button" class="w3-button w3-red">Anuluj</button>
                        <button @click="createRoom" type="button" class="w3-button w3-green w3-right">Stwórz</button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <aside class="">
                <div class="settings w3-card w3-container">
                    <header>
                        <h2>Ustawienia</h2>
                    </header>
                    <hr>
                    <label for="peas">Nazwa użytkownika</label>
                    <input type="text" name="name" id="name-input" autocomplete="off" required v-model="username">
                </div>

                <div class="about w3-card w3-container">
                    <header>
                        <h2>O grze</h2>
                    </header>
                    <hr>
                    <p>Blankiety Galantów to webowa implementacja popularnej gry karcianej Karty Dżentelmenów,
                        stworzonej przez Aleksandra Kozika i Marcina Jarosa
                        <a href="https://kartydzentelmenow.pl">(strona projektu)</a>.
                        Aplikacja została stworzona w ramach kursu języka Python na Politechnice Wrocławskiej.</p>
                    <p>Kod źródłowy gry jest dostępny w oficjalnym repozytorium projektu na portalu <a href="https://github.com/kichel98/BlankietyGalantow">GitHub</a>.</p>
                </div>

                <div class="footer">
                    <p>Blankiety Galantów 1.0<br>Copyright &copy; 2020</p>
                </div>

            </aside>

            <div class="rooms w3-card">
                <ul class="w3-ul">
                    <room-create-button
                        @click.native="showCreateRoomModal=true">
                    </room-create-button>
                    <room-item
                        v-for="room in rooms"
                        v-bind:key="room.id"
                        v-bind:room="room"
                        @click.native="canRoomAcceptNewPlayer(room) ? connect(room.id) : null">
                    </room-item>
                </ul>
            </div>
        </div>
    </main>

    <script type="module" src="js/main.js"></script>
</body>

</html>